
# Ignore all .env files
.env
.env.*
# Except for .env.dist
!/.env.dist

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/test-db.php
/BDD.md

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
